@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.redShadow {
  box-shadow: 3px 3px 0 0 #BF554B;
}

.redShadow:hover {
  transform: translate(-3px, -3px);
  box-shadow: 7px 7px 0 0 #BF554B;
}
.darkRedShadow {
  box-shadow: 3px 3px 0 0 #742a2a;
}

.darkRedShadow:hover {
  transform: translate(-3px, -3px);
  box-shadow: 7px 7px 0 0 #742a2a;
}

.substitutes-grid {
  display: flex;
  flex-wrap: wrap;
}

.substitute-item {
  flex: 1 1 20%;
  /* This ensures 5 columns */
  min-width: 20%;
  /* Ensure the width is at least 20% */
  box-sizing: border-box;
}

